@page
@model GradePredictor.Pages.Enrolments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrolment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.PredictedToAchieve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.PredictedToAchieve)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.PredictedToAchieveBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.PredictedToAchieveBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.PredictedGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.PredictedGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enrolment.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enrolment.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Enrolment.EnrolmentID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
