@page
@model GradePredictor.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentRef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CourseCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CourseCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GroupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CompletionStatusCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CompletionStatusCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CompletionStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CompletionStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PredictedToAchieve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PredictedToAchieve)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PredictedToAchieveBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PredictedToAchieveBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PredictedGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PredictedGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CreatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentDetailID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
